@charset "utf-8";


h2.section-title {
    background-color: #d1441e;
    padding: 50px 15px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 2.5em;
}

.chart {
	background-color: #ccc;
}
.full_chart, #partner-map, #deployments-map, #map-navigation {
	display: inline-block;
	vertical-align: top;
}


.half_chart, .full_chart {
	width: 100%;
	display: inline-block;
	min-height: 600px;
    margin: 0 auto;
}
.trello_board, .drive_board {
	width: 80vw;
	height: 80vh;
    margin: 0 auto;
}
    .drive_board {
        width: 80%;
        height: 735px;
    }

@media only screen and (min-width: 992px) { /* md screens and up */
    .half_chart {
        width: 50%;
        min-height: 750px;
    }
    .full_chart {
        min-height: 750px;
    }
    .trello_board {
        width: 96%;
        margin-left: 2%;
    }
    .drive_board {
        width: 750px;
        height: 675px;
    }
}

.alert, .strata, .tripopt, .tripopt-macro {
    position: relative;
}

.board-canvas {
	background-color: #E4F0F6;
}

.map-container {
    display: flex;
    flex-direction: column;
    width: 81vw;
    margin: 0 auto;
    padding-top: 15px;
}

.mod-container {
	width: 81vw;
	margin: 0 auto;
	padding-top: 15px;
}

#partner-map, #deployments-map {
	width: 80vw;
	height:30vw;
	margin: 0 auto;
	order: 1;
}

#map-navigation {
	width: 80vw;
	margin: 0 auto;
}

.filter-ui {
	background: #fff;
	z-index: 100;
	padding: 10px;
	border-radius: 3px;
}

    .filter-ui input {
        vertical-align: top;
    }

    .filter-ui div {
        margin: 5px;
        display: inline-block;
    }

.custom-popup .leaflet-popup-tip-container {
	width: 0px;
	height: 0px;
}

label[for="MOD Sandbox Key Partner"] {
	background-color: #d1441e;
	color: #fff;
    display: block;
    padding-left: 10px;
    cursor: pointer;
}

label[for="MOD Sandbox Partner"] {
	background-color: #084c8d;
	color: #fff;
    display: block;
    padding-left: 10px;
    cursor: pointer;
}

label[for="Data Provider"] {
	background-color: #9CF;
	color: #fff;
    display: block;
    padding-left: 10px;
    cursor: pointer;
}

label[for="Official OTP Deployment"] {
	background-color: #d1441e;
	color: #fff;
    cursor: pointer;
}

label[for="Unofficial OTP Deployment"] {
	background-color: #084c8d;
	color: #fff;
    cursor: pointer;
}

label[for="OTP Prototype, Technical Previews, Demos"] {
	background-color: #9CF;
	color: #fff;
    cursor: pointer;
}

#timeline-embed {
    height: 650px;
    width: 100%;
    margin:0 auto;
}

#partner-map-navigation, #deploymenttext {
	margin-top: 10px;
	order: 2;
}
    div.checkbox-div {
        width: 25vw;
        display: inline-block;
        vertical-align: top;
    }

    #MOD-Sandbox-Key-Partner input, #MOD-Sandbox-Partner input, #Data-Provider input {
        display: none;
    }

    div.partners, #deploymenttext div {
        padding: 10px;
        margin: 5px;
        display: inline-block;
        border: 0.25px solid #eee;
        vertical-align: middle;
    }
        div.partners:hover, #deploymenttext div:hover {
            background-color: #eee;
        }
        p.partners, #deploymenttext p {
            width: 100%;
            font-size: 75%;
            padding: 0;
            font-family: Hind, Helvetica, Arial, sans-serif;
        }
            p.partners span, #deploymenttext p span {
                display: inline-block;
                padding: 2px 7px !important;
                font-weight: 500;
            }
            a.partners, #deploymenttext a {
                display: inline-block;
                text-decoration: none;
                color: #000;
                border: none;
                width: 175px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
                a.partners:hover, #deploymenttext a:hover {
                    text-decoration: underline;
                }

.presentations-div {
    display: inline-block;
    width: 25vw;
    margin: 1vw;
}
    .presentations img {
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, .2);
        transition-property: box-shadow;
        transition-duration: 0.15s;
        transition-timing-function: ease-out;
        margin: 10px;
    }
        .presentations img:hover {
            box-shadow: 0px 0px 0px 5px rgba(109, 179, 63, 1);
            transition-property: box-shadow;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
        }

.slack {
    display: inline-block;
    vertical-align: middle;
    width: 39vw;
    padding-right: 15px;
}
    p.slack {
        width: 100%;
    }
    img.slack {
        max-height:100%;
        max-width:100%;
    }

.companies {
	position: relative;
	margin: 10px;
	display: inline-block;
	vertical-align: middle;
}

.companies img {
	padding: 3px;
}

.companies img:hover {
	box-shadow: 0px 0px 0px 5px #084c8d;
	transition-property: box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	opacity: 0.7;
}

p.companies-description {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #000;
	visibility: hidden;
	opacity: 0;
}

.companies img:hover p.companies-description {
	visibility: visible;
	opacity: 1;
	z-index:100;
}

.slideshow {
    width: 65vw;
    height: 75vh;
    margin: 0 auto;
    display: block;
}

@media only screen and (max-width: 480px) {
    .drive_board, .trello_board, .full_chart, .presentations, .slideshow {
        display: none;
    }

    #partner-map, #partner-map-navigation {
        display: none;
    }

    #logo-image {
        display: block;
    }
        #logo-image img {
            width: 90vw;
        }

    .slack {
        width: 100%;
    }
}

@media only screen and (min-width: 481px) {
    #logo-image {
        display: none;
    }

    .drive_board, .trello_board, .full_chart, .presentations, .slideshow {
        display: block;
    }

    #partner-map, #partner-map-navigation {
        display: block;
    }

    .slack {
        width: 39vw;
    }
}
